.card {
  display: flex;
  flex-direction: column;
  margin-block-start: 40px;
  margin-block-end: 80px;
  padding-inline: 24px;
  padding-block: 24px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(39.7657px);
  border-radius: 24px;
  box-shadow: -7px -5px 0px -4px rgb(255 255 255 / 30%);
}

.card__image {
  margin-inline: auto;
}

.card__image img {
  inline-size: 64px;
  block-size: 64px;
  border-radius: 50%;
}

.card__body {
  font: var(--cardBody);
  margin-block-start: 24px;
  max-inline-size: 972px;
}

.card__footer {
  margin-block-start: 24px;
  font: var(--caption);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .project {
    block-size: 653px;
  }

  .card {
    margin-block-start: 80px;
    padding-inline: 80px;
    padding-block: 80px;
    text-align: center;
  }

  .card__image img {
    inline-size: 80px;
    block-size: 80px;
  }

  .card__body {
    font-size: 34px;
    line-height: 55px;
    margin-block-start: 24px;
  }

  .card__footer {
    font: var(--headline5);
  }
}
